# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
wheels/

# Logs
*.log

# Python serialization
*.pkl

# System files
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Local settings
*.env
pull_requests.txt

# Pull requests
requirements.txt
pullrequests-list.txt
.pull_requests